body {
    background-color: #267352;
    font-family: sans-serif;
    font-size: 1.25rem;
}

h1 {
    color: white;
    text-align: left;
    text-shadow: black 5px 5px;
    text-transform: uppercase;
}

p {
    text-align: justify;
}

p.intro {
    border: black 10px solid;
    border-radius: 30px; 
    margin-left: 25%;
    margin-right: 25%;
    padding: 20px;
    background-color: white;
}

p.estilos-1 {
    border: #802400 20px solid;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-right: 50%;
    padding: 10px;
    background-color: #ac5a39;
    color: white;
}

p.estilos-2 {
    border: #804800 15px solid;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-left: 50%;
    padding: 5px;
    background-color: #ac7a39;
    color: white;
}

p.estilos-3 {
    border: #3978ac 5px dashed;
    margin-left: 25%;
    margin-right: 25%;
    padding: 20px;
    background-color: #004680;
    color: white;
}