body {
    font-family: Consolas;
    font-size: 11;
    text-align: justify;
    width: 30%;
    margin: 0 auto;
    background: url('https://www.10wallpaper.com/wallpaper/1366x768/1607/Light_blue_background-Vector_HD_Wallpaper_1366x768.jpg');
    background-repeat: no-repeat;
    background-size: 200%;
    background-attachment: fixed;
}
h2 {
    font-size: 20;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    width: 15%;
    margin: auto;
    color: whitesmoke;
}
li {
    padding: 5px;
}
footer {
    text-align: right;
    width: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
}