body {
    background-color: cyan;
    color: black;
    font-family: consolas;
    text-align: center;
}

h1 {
    color: #333333;
    font-size: 200%;
    text-align: center;
    text-transform: uppercase;
}

h2 {
    color: darkmagenta;
    font-size: 150%;
    text-transform: capitalize;
    text-decoration: underline;
}

h3 {
    color: DarkMagenta;
    font-size: 130%;
}

p {
    background-color: cyan;
    line-height: 150%;
}

address {
    background-color: cyan;
    font-style: bold;
    text-align: right;
}

em {
    color: blue;
    font-style: normal;
    font-weight: bold;
    text-decoration: underline;
}

strong {
    color: green;
    font-style: bold;
    font-weight: normal;
    text-decoration: underline;
}