@import url("mclibre-pie.css");

/* Paginas web HTML y hojas de estlio CSS   */
/* Bartolome Sintes Marco                   */
/* https://www.mclibre.org                   */
/*                                          */
/* CSS ejercicio: The Jargon file           */
/*                                          */
/* 17 de octubre de 2017                    */
/*                                          */

body {
    background-color: hsl(198, 50%, 85%);
    font-family: sans-serif;
}

h1 {
    font-size: 3rem;
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase;
}

h2 {
    background-color: hsl(198, 50%, 50%);
    font-size: 2rem;
}

h3 {
    background-color: hsl(198, 50%, 65%);
    color: white;
    font-size: 1.5rem;
}

p {
    text-align: justify;
}

blockquote {
    font-style: oblique;
}

pre {
    background-color: white;
    font-size: 1rem;
    font-weight: bold;
}

address {
    font-family: serif;
    font-style: normal;
    text-align: right;
}
