table {
    border-spacing: 1px;
    margin: 0 auto;
}
table.head {
    width: 100%;
}
caption {
    text-align: center;
}
td {
    text-align: center;
    padding: 7px;
}
td.modul {
    text-align: justify;
}
td.pgrm {
    background-color: darkseagreen;
}
td.fol {
    background-color: lightsalmon;
}
td.bd {
    background-color: lightskyblue;
}
td.so {
    background-color: darkcyan;
}
td.llmm {
    background-color: lightgreen;
}
td.tut {
    background-color: bisque;
}
td.logo {
    text-align: left;
}
td.volver {
    text-align: right;
}
th {
    text-align: center;
    padding: 5px;
    background-color: darkgrey;
}
address {
    bottom: 0;
    width: 99%;
    text-align: right;
    position: absolute;
}