h1 {
    text-align: center;
}
legend {
    background-color: aliceblue;
    border: 1px black solid;
}
fieldset.p1 {
    background-color: #bbbbbb;
}
fieldset.p2 {
    background-color: rgb(241, 194, 156);
}
fieldset.p3 {
    background-color: rgb(182, 126, 126);
}
ul {
    list-style-type: none;
}
footer {
    text-align: center;
}